<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div class="login-container">
    <form action="" method="post" id="loginForm" novalidate="novalidate">
        {% csrf_token %}
        <div>
            <input type="text" name="username" class="username" placeholder="用户名" autocomplete="off" value="">
        </div>
        <div>
            <input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false"
                   onpaste="return false">
        </div>
        <p> {{ error }} </p>
        <p>
            <button id="submit" type="submit">登 陆</button>
        </p>
    </form>
    <a href="reg.html">
        <button type="button" class="register-tis">注册</button>
    </a>
    <p>
    <h3>用户名:alex 密码:123456</h3>
    </p>
</div>
</body>
</html>